.snippetContainer {
  // Necessary to position the copy button
  position: relative;
}

.reactJsonViewerWrapper {
  padding: 16px;

  :global {
    .json-view {
      color: v('dark-gray');
      --json-property: rgb(201, 44, 44);
      --json-index: var(--gray-5);
      --json-number: #676dff;
      --json-string: rgb(47, 156, 10);
      --json-boolean: #676dff;
      --json-null: #676dff;
    }
    .json-view .json-view--property {
      color: var(--json-property);
    }
    .json-view .json-view--index {
      color: var(--json-index);
    }
    .json-view .json-view--number {
      color: var(--json-number);
    }
    .json-view .json-view--string {
      color: var(--json-string);
    }
    .json-view .json-view--boolean {
      color: var(--json-boolean);
    }
    .json-view .json-view--null {
      color: var(--json-null);
    }
  }
}

.scrollArea {
  height: 450px;
  border-radius: 8px;
  border: 1px solid v('light-grey');
}

.copyButtonContainer {
  position: absolute;
  z-index: 1000;
  top: 16px;
  right: 16px;
  border-radius: 0;
  background-color: white;

  :hover {
    background-color: v('gray-background');
  }
}

pre.snippet.snippet {
  @include media('<=tabletWide') {
    font-size: rem(14px) !important;
  }
}
