.snippetContainer {
  // Necessary to position the copy button
  position: relative;
}

.scrollArea {
  height: 450px;
  border-radius: 8px;
  border: 1px solid v('light-grey');
}

.copyButtonContainer {
  position: absolute;
  z-index: 1000;
  top: 16px;
  right: 16px;
  border-radius: 0;
  background-color: white;

  :hover {
    background-color: v('gray-background');
  }
}

pre.snippet.snippet {
  @include media('<=tabletWide') {
    font-size: rem(14px) !important;
  }
}
