// Forms

form.paymentForm {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  label {
    color: v('dark-black');
    font-size: rem(16px);
    font-style: normal;
    font-weight: 600;
    line-height: 145%;
  }

  label.checkboxLabel {
    display: flex;
    gap: rem(8px);

    color: v('dark-gray');
    font-size: 14px;
    font-weight: 400;
    line-height: 160%; /* 22.4px */
    letter-spacing: 0.14px;
  }

  input[type='text'] {
    padding: rem(16px) rem(12px);
    border-radius: 6px;
    border: 1px solid v('gray-box-stroke');
    margin-top: rem(8px);
    margin-bottom: rem(16px);

    color: v('gray-5');
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 25.6px */
    letter-spacing: 0.16px;
  }

  input[type='checkbox'] {
    width: rem(16px);
    height: rem(16px);
    // https://caniuse.com/mdn-css_properties_accent-color good enough for a visual tweak
    accent-color: v('orange-gradient');
  }

  hr {
    width: 100%;
    border-top: 1px solid v('gray-box-stroke');
    margin: 0;
  }
}
