form.paymentForm {
  .ccInfoGroup {
    display: flex;
    column-gap: 16px;
    flex-wrap: wrap;

    > div {
      flex-grow: 1;
    }
  }

  div.checkboxes {
    display: flex;
    flex-direction: column;
    gap: rem(8px);
    margin-top: rem(24px);
    margin-bottom: (16px);
  }

  button[type='submit'] {
    margin-left: auto;
    margin-top: rem(40px);

    @include media('<=phoneLandscape') {
      margin-top: rem(24px);
    }
  }
}
