.refreshButton.refreshButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;

  padding: 8px 14px;
  margin-top: 16px;
  margin-bottom: 16px;

  color: var(--color-text-primary);
  font-weight: 500;
  font-size: 14px;
  line-height: 140%; /* 24px */

  cursor: pointer;
  border: 1px solid #d9d9d6;
  background-color: #fafaf8;
  border-radius: 6px;

  svg {
    transition: scale 0.2s ease;
    margin-left: rem(4px);
    flex-shrink: 0;
  }

  &:hover {
    background-color: #f0f0f0;
    svg {
      scale: 1.2;
    }
  }

  &.loading {
    svg {
      animation: spin 1s infinite linear;
    }
  }
}
