.flightCard {
  border-radius: 8px;
  border: 1px solid v('gray-box-stroke');
  @include shadowSmall();
  display: grid;
  grid-template-columns: 3.15fr 1fr;
}

.flightsContainer {
  display: grid;
  grid-template-columns: 1fr 3fr;
  padding-bottom: rem(32px);
  column-gap: rem(32px);
  row-gap: rem(20px);
}

.generalFlightInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.labelDateContainer {
  display: flex;
  padding: rem(16px);
  flex-direction: column;
  gap: 8px;
  background: v('light-gray-background');
  border-radius: 0px 0px 16px 0px;
}

.airline {
  color: v('dark-black');
  font-family: Inter;
  line-height: 160%;
  letter-spacing: 0.16px;
  padding: 0 rem(16px);

  display: flex;
  gap: 8px;
  align-items: center;
}

.flightLabel {
  color: v('dark-black');
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;

  display: flex;
  gap: 8px;
  align-items: flex-end;
}

.flightTimes {
  display: grid;
  gap: 32px;
  grid-template-columns: 1fr 1fr 1fr auto;
}

.location {
  padding: 16px;
  color: v('dark-black');

  :first-child {
    font-size: 24px;
    font-weight: 600;
    line-height: 130%;
  }

  :last-child {
    font-size: 16px;

    font-weight: 400;
    line-height: 145%;
  }
}

.time {
  color: v('dark-black');
  font-size: 24px;
  font-weight: 600;
  line-height: 130%;
  padding: 0 16px;
}

.transition {
  color: v('orange-gradient');
  font-size: 16px;
  font-weight: 500;
  line-height: 145%;
  text-align: center;
  border-bottom: 1px solid v('orange-gradient');
}

.checkoutContainer {
  padding: rem(16px) rem(16px) rem(32px) rem(32px);
  border-left: 1px dashed v('orange-gradient');
  display: flex;
  flex-direction: column;
  gap: rem(24px);
}

.priceLabel {
  margin-bottom: rem(8px);
  color: v('dark-black');
  font-size: 14px;
  font-weight: 500;
  line-height: 160%;
  letter-spacing: 0.14px;
  text-align: right;
}

.pricePerAdult {
  color: v('dark-black');
  font-size: 24px;
  font-weight: 600;
  line-height: 130%;
  margin-bottom: rem(16px);
  text-align: right;
}

.line {
  width: 100%;
  height: 1px;
  border-top: 1px dashed v('light-grey');
}

.priceItems {
  display: flex;
  flex-direction: column;
  gap: rem(14px);
  padding-bottom: 4px;
}

.priceItem {
  display: flex;
  justify-content: space-between;
  color: v('dark-gray');
  font-size: 14px;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: 0.14px;
}

.finalPrice {
  display: flex;
  justify-content: space-between;
  color: v('dark-black');
  font-size: 24px;
  font-weight: 600;
  line-height: 130%;
}

.actions {
  display: flex;
  gap: 8px;

  button {
    flex-grow: 1;
    cursor: default;
  }
}

.favorite {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: rem(12px) rem(14px);
  border-radius: 8px;
  border: 1px solid v('orange-gradient');
}
