.hero {
  padding-top: rem(64px);
  padding-bottom: rem(40px);
  display: flex;
  flex-direction: column;
  gap: rem(8px);

  h1 {
    span {
      color: v('orange-gradient');
    }
    text-align: center;
    font-family: Inter;
    font-size: rem(44px);
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: -1px;
    margin: 0;
  }

  p {
    color: v('dark-gray');
    text-align: center;
    font-family: Inter;
    font-size: rem(20px);
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    margin: 0;
  }
}

.visitorIdBox {
  @include dashedOrangeBorder(12);
  background-color: v('soft-orange-background');
  padding: rem(32px) rem(20px);
  border-radius: rem(12px) rem(12px);
  display: flex;
  flex-direction: column;
  gap: rem(8px);

  p {
    color: v('dark-black');
    text-align: center;
    font-family: Inter;
    font-size: rem(18px);
    line-height: 130%;
    margin: 0;
  }

  h2 {
    color: v('orange-gradient');
    text-align: center;
    font-family: 'JetBrains Mono';
    font-size: 30px;
    font-weight: 500;
    line-height: 130%;
    margin: 0;
  }
}

.docsLink {
  color: v('dark-black');

  &:hover {
    color: v('orange-gradient');
  }

  img {
    margin-left: rem(2px);
    vertical-align: baseline;
    height: rem(10px);
    color: v('dark-black');
  }
}

.title {
  color: v('dark-black');
  font-family: Inter;
  font-size: rem(24px);
  font-weight: 400;
  text-align: center;
  letter-spacing: -0.25px;
}

.runningIntelligence {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  min-height: 60vh;

  h2 {
    color: v('dark-black');
    font-family: Inter;
    font-size: rem(24px);
    font-weight: 400;
    text-align: center;
    letter-spacing: -0.25px;
  }
}

.visitorId {
  color: v('orange-gradient');
  font-weight: 600;
  letter-spacing: -0.5px;
  font-family:
    JetBrains Mono,
    monospace;
}

.locationText {
  color: v('dark-gray');
  font-family: Inter;
  font-size: rem(13px);
  font-weight: 400;
  line-height: 160%;
  letter-spacing: 0.13px;
}

.externalLinkArrow {
  margin-left: 4px;
  vertical-align: baseline;
}

.reloadButton {
  margin: rem(16px) auto rem(48px) auto;
}

.tablesContainer {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 400px));
  justify-content: center;
  gap: 16px;
  margin-top: rem(32px);
  @include media('<=1200px') {
    grid-template-columns: minmax(0, 500px);
  }
}

.tableTitle {
  color: v('dark-black');
  font-family: 'JetBrains Mono';
  font-size: rem(16px);
  font-weight: 500;
  line-height: 145%;
  letter-spacing: 4px;
  text-transform: uppercase;
  margin-bottom: rem(16px);
}

.jsonTitle {
  margin: 1.25rem 0px 1rem;
  font-size: rem(18px);
  font-weight: 500;
  font-family: Inter;
  font-weight: 400;
  letter-spacing: -0.25px;
}

.jsonTitle {
  display: flex;
  align-items: center;
  gap: 10px;
}

.jsonContainer {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 24px;

  @include media('<=1200px') {
    grid-template-columns: minmax(0, 1fr);
  }
}
