.form,
.codeForm {
  button {
    margin-top: rem(16px);
  }

  button[type='button'] {
    display: block;
    width: fit-content;
    max-width: 100%;
    text-wrap: wrap;
  }
}

.codeForm {
  label {
    margin-top: rem(48px);
  }
}

.formHeadline {
  color: v('dark-gray');
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: rem(24px);

  @include media('<=phoneLandscape') {
    font-size: rem(12px);
  }
}
