$colors: (
  'black': hsla(0, 0%, 0%, 1),
  'white': hsla(0, 0%, 100%, 1),
  'off-white': hsl(240, 24%, 96%),
  'transparent': hsla(0, 0%, 100%, 0),
  'error': hsl(358, 93%, 66%),
  'warning': hsl(42, 100%, 52%),
  'success': hsl(131, 70%, 46%),
  'gray': #5b5b5b,
  'dark-gray': #434344,
  //DarkMode/Black
  'dark-black': #141415,
  'dark': #202021,
  //#FAFAFA
  'warm-white': hsl(0, 0%, 98%),
  'light-grey': #d0d0d0,
  'orange': hsl(8, 89%, 63%),
  //#FF5D22 Orange/Main Light Mode
  'orange-gradient': hsl(16, 100%, 57%),
  // Orange/Main Dark Mode
  'orange-dark': #fa7545,
  'soft-orange-background': #fffbfa,
  'gray-box-stroke': #e8e8e8,
  'gray-background': #f6f6f6,
  'light-gray-background': #fafafa,
  'gray-5': #89898a,

  'success-background': #edf7ed,
  'error-background': #ffefef,
  'warning-background': #fcf4e5,
  'info-background': #f0f8ff,
  'success-text': #1e4620,
  'error-text': #901414,
  'warning-text': #5d3e0f,
  'info-text': #1a4b70,
);

$brand-colors: (
  'brand-fire': hsl(16, 96%, 48%),
);

$grid-base: 8px;

$breakpoints: (
  phoneSmall: 320px,
  phone: 420px,
  phoneLandscape: 640px,
  tablet: 768px,
  tabletWide: 860px,
  desktop: 1024px,
  desktopHeader: 900px,
);
