// Article

.articleContainer {
  padding: rem(64px) rem(56px);

  @include media('<=phoneLandscape') {
    padding: rem(24px) rem(16px);
  }
}

.backArrow {
  vertical-align: baseline;
  margin-right: rem(4px);
}

.buckButton {
  margin-bottom: rem(24px);

  @include media('<=phoneLandscape') {
    margin-bottom: rem(16px);
  }
}

.articleImage {
  margin: rem(40px) 0;
  width: 100%;
  height: 400px;
  background-color: #fff8f6;

  @include media('<=phoneLandscape') {
    margin: rem(24px) 0;
  }
}

.articleTitle {
  color: v('dark-black');
  font-family: Inter;
  font-size: rem(48px);
  font-weight: 600;
  line-height: 130%;
  margin-bottom: rem(16px);

  @include media('<=phoneLandscape') {
    font-size: rem(32px);
  }
}

.articleContent {
  p {
    margin-top: rem(32px);
    margin-bottom: rem(32px);
    line-height: 160%;
    letter-spacing: 0.16px;
    color: v('dark-gray');
    font-size: rem(16px);
  }

  p:first-of-type {
    margin-top: rem(16px);
    font-size: rem(20px);
    font-weight: 500;
    line-height: 140%;

    @include media('<=phoneLandscape') {
      font-size: rem(18px);
    }
  }

  p:last-of-type {
    margin-bottom: rem(16px);
  }
}

.readMoreContainer {
  padding: rem(64px) rem(56px) rem(96px) rem(56px);
  border-top: 1px solid v('gray-box-stroke');

  @include media('<=phoneLandscape') {
    padding: rem(24px) rem(16px);
  }
}

.readMore {
  color: v('dark-black');
  font-family: Inter;
  font-size: rem(28px);
  font-weight: 600;
  line-height: 130%;
  margin-bottom: rem(32px);

  @include media('<=phoneLandscape') {
    font-size: rem(24px);
  }
}
