.articles {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(265px, 1fr));
  gap: rem(24px);
  margin: 0 auto;

  @include media('<=phoneLandscape') {
    padding: 0 rem(20px) rem(80px) rem(20px);
    row-gap: rem(24px);
  }

  @include media('<=phone') {
    grid-template-columns: auto;
  }
}

.articleCard {
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  border: 1px solid v('gray-box-stroke');
  cursor: pointer;
}

.articleCardImage {
  width: 100%;
  height: auto;
  margin-bottom: rem(8px);
}

.articleCardContent {
  padding: rem(16px);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.byline {
  display: flex;
  gap: rem(6px);
  align-items: center;
  margin-bottom: rem(16px);
  flex-wrap: wrap;

  color: v('dark-gray');
  font-size: 14px;
  font-style: normal;
  line-height: 160%;
  letter-spacing: 0.14px;
}

.articleCardTitle {
  color: v('dark-gray');
  font-size: rem(20px);
  font-weight: 600;
  line-height: 140%;
}

.articleCardDescription {
  color: v('dark-gray');
  font-size: 14px;
  line-height: 160%;
  letter-spacing: 0.14px;
  flex-grow: 1;
}

.authorImage {
  height: rem(20px);
  width: rem(20px);
  border-radius: 50%;
  object-fit: contain;
}

.articleCardTags {
  display: flex;
  flex-wrap: wrap;
  gap: rem(8px);
  margin-top: rem(32px);

  div {
    display: flex;
    padding: rem(4px) rem(10px) rem(5px) rem(10px);
    justify-content: center;
    align-items: center;
    border-radius: rem(16px);
    background: v('gray-box-stroke');
    color: v('dark-black');
    text-align: center;
    font-size: 14px;
    line-height: 150%;
  }
}
