.container {
  --contentWidth: 920px;
  padding: 0 unquote('max(20px, calc((100vw - (100vw - 100%))/2) - var(--contentWidth) / 2)');
}

.container.large {
  --contentWidth: 1248px;
}

.container.small {
  --contentWidth: 680px;
}
