div.wrapper {
  max-width: 660px;
  padding: 32px 20px 24px 20px;
  display: flex;
  flex-direction: column;
  gap: 24px;

  @include media('<=phoneLandscape') {
    padding: rem(12px);
  }

  .innerWrapper {
    border: 1px solid v('gray-box-stroke');
    border-radius: 6px;
    padding: rem(16px);

    form {
      display: flex;
      flex-direction: column;
      gap: rem(16px);
    }
  }
}

.shoe {
  display: flex;
  padding-bottom: rem(32px);
  gap: rem(24px);
  border-bottom: 1px solid var(--stroke-light-mode-light, #e8e8e8);

  @include media('<=phone') {
    flex-direction: column;
    gap: rem(8px);
  }

  .shoeDescription {
    flex-grow: 1;

    .shoeName {
      color: v('dark-black');
      font-size: rem(16px);
      font-weight: 600;
      line-height: 145%;
      margin-bottom: rem(4px);
    }

    .shoeColor {
      color: v('dark-gray');
      font-size: rem(16px);
      font-weight: 400;
      line-height: 160%;
      letter-spacing: 0.16px;
      margin-bottom: rem(16px);
    }

    .priceAndCount {
      display: flex;
      justify-content: space-between;

      @include media('<=phone') {
        flex-direction: column;
        gap: rem(8px);
      }
    }

    .price {
      color: v('dark-black');
      font-family: Inter;
      font-size: rem(16px);
      font-weight: 600;
      line-height: 145%;
    }

    .count {
      display: flex;
      padding: 4.5px 6px;
      justify-content: center;
      align-items: center;
      gap: 3px;
      align-self: flex-start;

      border-radius: 1.5px;
      border: 0.75px solid v('gray-box-stroke');

      color: v('dark-gray');
      font-family: Inter;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 115.5%;
      letter-spacing: 0.12px;

      span:first-child,
      span:last-child {
        font-size: 20px;
      }
    }
  }
}

.summary {
  .item {
    display: flex;
    justify-content: space-between;

    @include media('<=360px') {
      flex-direction: column;
    }

    :first-child {
      color: v('dark-gray');
      font-weight: 400;
      line-height: 175%;
      letter-spacing: 0.16px;
    }

    b:first-child {
      font-weight: 600;
    }

    :last-child {
      color: v('dark-black');
      font-weight: 600;
      align-self: flex-end;
    }

    &:last-child {
      border-top: 1px solid v('gray-box-stroke');
      padding-top: rem(32px);
      margin-top: rem(8px);
    }
  }

  .item.discount {
    border-radius: rem(6px);
    padding: 12px;
    margin-top: rem(16px);
    margin-bottom: rem(16px);
    background-color: v('soft-orange-background');
    @include dashedOrangeBorder(6);

    span {
      color: v('orange-gradient');
      font-weight: 600;
      line-height: 145%;
    }
  }
}

.couponFraudForm {
  p {
    color: v('dark-black');
    font-size: 16px;
    font-weight: 600;
    line-height: 145%;
    margin: 0px;
  }

  .couponInputContainer {
    display: flex;
    gap: rem(8px);

    @include media('<=phone') {
      flex-direction: column;

      button[type='submit'] {
        width: 100%;
        padding: rem(12px);
      }
    }

    input[type='text'] {
      margin: 0px;
      padding: rem(14px) rem(10px);
      font-size: rem(14px);
      line-height: 130%;
      letter-spacing: 0.133px;
    }
  }
}

.confirmOrderButton {
  width: fit-content;
  margin-left: auto;
  max-width: 100%;
}
