/* Colors */
:root {
  --primary: #ff5d22;
  --text-primary: #212121;
  --text-secondary: #757575;
}

/* Base */
body,
html {
  margin: 0;
  height: 100%;
  /* font-family: 'Roboto', sans-serif, -apple-system, Arial; */
  overflow-x: hidden;
}

.UsecaseWrapper_alert {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.Form_container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.Form_container > .Form_button,
.Form_container > .Form_button {
  margin-top: 24px;
}

.UserInput_label {
  margin-bottom: 4px !important;
  font-size: 14px !important;
}
