.AccordionRoot {
  width: 100%;

  button,
  h3 {
    font-size: unset;
  }

  border: 1px dashed v('orange-gradient');
}

.AccordionItem {
  &:not(:last-child) {
    border-bottom: 1px dashed v('orange-gradient');
  }

  &[data-state='open'],
  :hover {
    background-color: v('soft-orange-background');
  }
}

.AccordionHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;

  &:hover {
    .AccordionTrigger {
      color: v('orange-gradient');
    }
  }

  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 145%; /* 23.2px */
}

.AccordionTrigger {
  display: flex;
  cursor: pointer;
  align-items: center;
  flex: 1 1 0%;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
  padding: rem(20px) rem(24px);

  &[data-state='open'],
  :hover {
    color: v('orange-gradient');
  }

  &[data-state='open'] {
    .plusButton {
      display: none;
    }
    .minusButton {
      display: block;
    }
  }

  &[data-state='closed'] {
    .plusButton {
      display: block;
    }
    .minusButton {
      display: none;
    }
  }
}

.AccordionContent {
  overflow: hidden;
  font-size: 0.875rem;
  line-height: 1.25rem;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
  background-color: v('soft-orange-background');

  & > div {
    padding: 0 rem(24px) rem(32px) rem(24px);
  }

  &[data-state='open'] {
    animation: slideDown 300ms cubic-bezier(0.87, 0, 0.13, 1);
  }
  &[data-state='closed'] {
    animation: slideUp 300ms cubic-bezier(0.87, 0, 0.13, 1);
  }
}

/**
 * Border-radius
 */
.AccordionRoot,
.AccordionHeader,
.AccordionTrigger,
.AccordionContent {
  border-radius: rem(8px);
}

.AccordionItem:first-child {
  border-radius: rem(8px) rem(8px) 0 0;
}

.AccordionItem:last-child {
  border-radius: 0 0 rem(8px) rem(8px);
}

@keyframes slideDown {
  from {
    height: 0;
  }
  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes slideUp {
  from {
    height: var(--radix-accordion-content-height);
  }
  to {
    height: 0;
  }
}
