.alert {
  display: flex;
  padding: 12px;
  gap: rem(8px);
  border-radius: 6px;
  align-items: center;
  font-size: 14px;

  line-height: 160%;
  letter-spacing: 0.14px;
  overflow: hidden;
  
  position: relative;

  .iconWrapper {
    align-self: start;
  }

  a {
    color: inherit;
    text-decoration: underline;
  }

  @include media('<=phoneLandscape') {
    padding: rem(8px) rem(12px);
    font-size: 12px;
    line-height: 135%;
  }

  @include media('<=360px') {
    flex-direction: column;
  }
}

.success {
  background: v('success-background');
  color: v('success-text');

  &.withBorder {
    border: 1px solid v('success-text');
  }
}

.error {
  background: v('error-background');
  color: v('error-text');

  &.withBorder {
    border: 1px solid v('error-text');
  }
}

.warning {
  background: v('warning-background');
  color: v('warning-text');

  &.withBorder {
    border: 1px solid v('warning-text');
  }
}

.info {
  background: v('info-background');
  color: v('info-text');

  &.withBorder {
    border: 1px solid v('info-text');
  }
}

.snackbar {
  display: flex;
  flex-direction: row;
  padding: 12px;
  align-items: center;
  gap: 12px;
  flex-wrap: nowrap;
  border-radius: 6px;
  font-size: 14px;
  line-height: 160%;
  letter-spacing: 0.14px;
  font-weight: 500;

  @include media('<=phone') {
    flex-direction: column;
    align-items: flex-start;
  }
}

.snackbarContent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 12px;

  .iconWrapper {
    display: flex;
  }

  .message {
    align-self: center;
  }
}

.snackbarActions {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  align-self: flex-start;
  gap: 12px;
}

.closeButton {
  color: inherit;
  margin-left: auto;
  text-transform: capitalize !important;
  @include media('>=phone') {
    display: none;
  }
}

.closeIcon {
  cursor: pointer;
  padding: 0px 3px;
  margin-left: auto;
  // height matching action button (even if it's not there) to keep the snackbar height consistent and everything aligned
  min-height: 37px;
  display: flex;
  align-items: center;

  @include media('<=phone') {
    display: none;
  }
}

.alertCloseIcon {
  cursor: pointer;
  position: absolute;
  top: 12px;
  right: 12px;
}
