.searchTitle {
  color: v('dark-black');
  font-family: Inter;
  font-size: rem(24px);
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  margin-bottom: 24px;

  @include media('<=phoneLandscape') {
    font-size: rem(16px);
  }
}

.form {
  margin-bottom: 64px;

  @include media('<=desktop') {
    margin-bottom: 16px;
  }
}

.formInput {
  display: grid;
  gap: 8px;
  align-items: center;
  width: 100%;
  grid-template-columns: 1fr auto 1fr auto;
  align-items: flex-end;

  .searchButton {
    display: flex;
    height: 48px;
    padding: 11px 56px;
    justify-content: center;
    align-items: center;
  }

  @include media('<=tablet') {
    grid-template-columns: 1fr;
    gap: 12px;
  }
}

// From/To label
.locationLabel {
  color: v('dark-gray');
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 8px;

  @include media('<=phoneLandscape') {
    font-size: rem(12px);
  }
}

.arrowIcon {
  margin: 14px 8px;

  @include media('<=tablet') {
    display: none;
  }
}

.loaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flightCardsContainer {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
