.hero {
  margin-top: rem(96px);
  margin-bottom: rem(96px);

  .title {
    font-family: Inter;
    text-align: center;
    margin-bottom: rem(16px);
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
  }

  .intro {
    max-width: rem(820px);
    margin: 0 auto;
    color: v('dark-gray');
    text-align: center;
    font-size: rem(20px);
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 32px */
  }
}

.useCaseGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  column-gap: rem(20px);
  row-gap: rem(40px);
  padding: 0 rem(96px) rem(196px) rem(96px);

  @include media('<=phoneLandscape') {
    padding: 0 rem(20px) rem(80px) rem(20px);
  }

  /// ???
  @include media('<=phone') {
    grid-template-columns: repeat(auto-fit, 1fr);
  }
}
