.button {
  @include inter($size: 16px, $weight: 600, $lh: 150%);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: rem(6px);
  border: rem(1px) solid;
  box-sizing: border-box;
  white-space: nowrap;
  cursor: pointer;
  @include transition((background-color, border, opacity));

  &.primary {
    color: v('white');
    background-color: v('orange-gradient');
    border-color: v('orange-gradient');

    &:hover {
      background-color: adjust-color(c('orange-gradient'), $saturation: -20%, $lightness: -6%);
      border-color: adjust-color(c('orange-gradient'), $saturation: -30%, $lightness: -6%);
    }
  }

  &.black {
    color: v('white');
    background-color: v('black');
  }

  &.white {
    color: v('black');
    background-color: v('white');

    &:focus,
    &:hover {
      background-color: adjust-color(c('white'), $lightness: -20%);
    }
  }
  &.dark {
    color: v('white');
    background-color: v('orange-dark');
    border-color: v('orange-dark');

    &:hover {
      background-color: adjust-color(c('orange-dark'), $saturation: -20%, $lightness: -6%);
      border-color: adjust-color(c('orange-dark'), $saturation: -30%, $lightness: -6%);
    }
  }

  &.primaryOutlined {
    color: v('orange-gradient');
    background-color: transparent;
    border: rem(1px) solid c('orange-gradient');

    &:hover {
      color: adjust-color(c('orange-gradient'), $saturation: -19%, $lightness: -6%);
      border: rem(1px) solid adjust-color(c('orange-gradient'), $saturation: -19%, $lightness: -6%);
    }
  }

  &.blackOutlined {
    color: v('black');
    background-color: v('transparent');
    box-shadow: inset 0 0 0 2px v('black');
  }

  &.whiteOutlined {
    color: v('white');
    background-color: v('transparent');
    &:hover {
      opacity: 0.7;
    }
  }
  &.darkOutlined {
    color: v('orange-dark');
    background-color: transparent;
    border: rem(1px) solid c('orange-dark');

    &:hover {
      color: adjust-color(c('orange-dark'), $saturation: -19%, $lightness: -6%);
      border: rem(1px) solid adjust-color(c('orange-dark'), $saturation: -19%, $lightness: -6%);
    }
  }

  &.ghost {
    color: v('orange-gradient');
    background-color: transparent;
    border: none;
  }

  &.green {
    color: v('white');
    background-color: v('success-text');
    border: 1px solid v('success-text');

    &:hover {
      background-color: v('success-background');
      color: v('success-text');
    }
  }

  &.danger {
    color: v('white');
    background-color: v('error-text');
    border: 1px solid v('error-text');

    &:hover {
      background-color: v('error-background');
      color: v('error-text');
    }
  }

  &.large {
    padding: rem(15px) rem(23px);
  }
  &.medium {
    padding: rem(9px) rem(19px);
    font-size: rem(14px);
  }

  &.small {
    padding: rem(7px) rem(15px);
    font-size: rem(14px);
    border-radius: rem(4px);
  }

  &.disabled {
    pointer-events: none;
    opacity: 0.7;
  }
}
