.twoColumnContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: rem(24px);
}

.leftColumn {
  display: flex;
  flex-direction: column;
  gap: rem(32px);
}

.rightColumn {
}

.search {
  display: flex;
  flex-direction: column;
  gap: rem(8px);
}

.products {
  display: flex;
  flex-direction: column;
  gap: rem(20px);
}

/**
* Product Card
*/
.productCard {
  border-radius: 8px;
  padding: rem(16px);
  border: 1px solid v('gray-box-stroke');
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: rem(24px);
}

.productCardImage {
  //   width: 100%;
  //   height: auto;
}

.productCardBody {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.productCardName {
  color: v('dark-black');
  font-size: rem(24px);
  font-weight: 500;
  line-height: 130%;
}

.productCardSize {
  color: v('dark-black');
  font-size: rem(16px);
  font-weight: 300;
  line-height: 145%; /* 23.2px */
}

.productCardBodyBottomRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: rem(8px);
}

.productCardPrice {
  color: v('orange-gradient');
  font-size: rem(16px);
  line-height: 160%;
  letter-spacing: 0.16px;
}

.productCardButtons {
  display: flex;
  gap: rem(8px);
}

.addToFavorites {
  padding: 8px !important;
}

.productCardItemCounter {
  display: flex;
  padding: 0px 6px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  border: 1px solid v('orange-gradient');

  color: v('orange-gradient');
  font-size: 14px;
  font-weight: 600;
  line-height: 150%;

  div {
    cursor: pointer;
    display: flex;
    stroke: v('orange-gradient');
    padding: 8px 10px;
  }
}

/**
* Search
*/

.searchBox {
  display: flex;
  height: 64px;
  padding: 16px;
  align-items: center;
  gap: 10px;

  border-radius: 6px;
  border: 1px solid v('gray-box-stroke');
}

.searchInput {
  color: v('dark-gray');
  font-size: rem(16px);
  line-height: 160%;
  letter-spacing: 0.16px;
  border: none;
  width: 100%;
}

.searchTerm {
  color: v('orange-gradient');
  cursor: pointer;
}

.cartContainer {
  display: flex;
  padding: rem(32px) (16px) (24px) (16px);
  flex-direction: column;
  border-radius: 6px;
  border: 1px solid v('gray-box-stroke');
}

.cartIconContainer {
  position: relative;
  width: fit-content;
}

.cartCountBadge {
  position: absolute;
  top: -2px;
  right: -5px;
  border-radius: 50%;
  color: white;
  padding: 1px 4px;
  font-size: rem(7px);
  font-weight: 500;
  line-height: 145%;
  background-color: v('orange-gradient');
}
