form.accountSharingForm {
  .alert {
    margin: rem(24px) 0;
  }
  button[type='submit'] {
    margin: 0 auto;
    margin-top: rem(24px);
  }

  input.password {
    margin-bottom: 0;
  }

  .showHideIcon {
    margin-left: rem(-40px);
    cursor: pointer;

    @include media('<=250px') {
      display: none;
    }
  }
}

.formTitle {
  margin-bottom: rem(32px);
  font-size: rem(24px);
  font-weight: 700;
  text-align: center;
}

.switchMode {
  margin-top: rem(24px);
  text-align: center;

  button {
    background: none;
    border: none;
    cursor: pointer;
    color: v('orange-gradient');
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}
