form.accountSharingForm {
  .alert {
    margin: rem(24px) 0;
  }
  button[type='submit'] {
    margin: 0 auto;
    margin-top: rem(24px);
  }

  input.password {
    margin-bottom: 0;
  }

  .showHideIcon {
    margin-left: rem(-40px);
    cursor: pointer;

    @include media('<=250px') {
      display: none;
    }
  }
}

.formTitle {
  margin-bottom: rem(32px);
  font-size: rem(24px);
  font-weight: 700;
  text-align: center;
}

.switchMode {
  margin-top: rem(24px);
  text-align: center;

  button {
    background: none;
    border: none;
    cursor: pointer;
    color: v('orange-gradient');
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}

.challengeButtons {
  display: flex;
  gap: rem(16px);

  // grow buttons to fill space
  button {
    flex-grow: 1;
  }
}

.backArrow {
  margin: rem(24px) auto;
}

/**
 * Home page
 */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: rem(16px);


  background-image: linear-gradient(180deg,rgba(0,0,0,.7) 10%,transparent);

  h1 {
    font-size: rem(36px);
    font-weight: 700;
    font-family: Bebas Neue, sans-serif;
    color: #e50914;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
  }

  .headerRight {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: rem(16px);
    color: white;
  }
}

.loggedOutAlert {
  margin-bottom: rem(24px);
}
