.container {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  gap: rem(32px);
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  margin-bottom: rem(56px);

  @include media('<=tabletWide') {
    flex-direction: column;
    margin-bottom: rem(16px);
    gap: rem(16px);
  }
}

.title {
  color: v('dark-black');
  font-family: Inter;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;

  @include media('>tabletWide') {
    white-space: nowrap;
  }

  @include media('<=phoneLandscape') {
    font-size: 16px;
  }
}

.instructionsPrompt {
  padding: rem(16px);
  align-items: center;
  display: flex;
  gap: 8px;
  font-size: 12px;
  line-height: 145%;
  letter-spacing: 0.36px;
  border: 1px solid v('gray-box-stroke');
  border-radius: 8px;
  margin-left: auto;

  @include media('<=tabletWide') {
    // width: 100%;
    margin-left: 0;
  }
}

/** 
 * Desktop (table) layout
 */
.botVisitsTable {
  // Hide on small screens
  @include media('<=tabletWide') {
    display: none;
  }
  border-radius: 8px;
  border: 1px solid v('gray-box-stroke');
  border-spacing: 0;
  width: 100%;
  min-width: fit-content;

  thead {
    background-color: v('light-gray-background');
  }

  th {
    padding: rem(20px) rem(16px);
    color: v('dark-black');
    font-size: 14px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0.42px;
    text-transform: capitalize;
    text-align: left;
    border: none;
    border-collapse: collapse;
    border-bottom: 1px solid v('gray-box-stroke');
    white-space: nowrap;

    &:first-child {
      border-top-left-radius: rem(8px);
    }

    &:last-child {
      border-top-right-radius: rem(8px);
    }
  }

  tr:nth-child(even) {
    background-color: v('light-gray-background');
  }

  td {
    padding: rem(24px) rem(16px);

    color: v('dark-gray');
    font-size: 14px;
    line-height: 100%; /* 14px */
    letter-spacing: 0.42px;
    text-transform: capitalize;

    .notYourIpButton {
      width: fit-content;
    }
  }
}

/**
 * Cards (mobile) layout
 */
.cards {
  // Hide on big screens
  @include media('>tabletWide') {
    display: none;
  }

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
  gap: rem(12px);

  @include media('<=phoneSmall') {
    grid-template-columns: auto;
  }
}

.card {
  border: 1px solid v('gray-box-stroke');
  border-radius: rem(6px);
  padding-top: rem(4px);
  display: flex;
  flex-direction: column;

  button,
  .notYourIpButton {
    margin: rem(12px);
    justify-content: center;
  }
}

.cardContent {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 8px;
  padding: 12px;

  @include media('<=phoneSmall') {
    grid-template-columns: auto;
  }

  div {
    padding-top: rem(12px);
    padding-bottom: rem(12px);
    color: v('dark-black');
    font-size: 14px;
    line-height: 100%; /* 14px */
    letter-spacing: 0.42px;
    text-transform: capitalize;
    white-space: nowrap;
  }

  // Label
  div:nth-child(odd) {
    font-weight: 500;
  }

  // Value
  div:nth-child(even) {
    color: v('dark-gray');
  }
}

.blockIpButton,
.unblockIpButton,
.notYourIpButton {
  font-size: 14px;
  font-weight: 600;
  line-height: 145%;
  padding: 8px 16px;

  border-radius: 4px;
  border: 0px;
  border: 1px solid transparent;

  display: flex;
  align-items: center;
  gap: 4px;
}

.blockIpButton {
  background-color: #fff0ee;

  &:hover {
    cursor: pointer;
    border: 1px solid v('orange-gradient');
  }
  color: v('orange-gradient');
}

.unblockIpButton {
  background: v('success-background');

  &:hover {
    cursor: pointer;
    border: 1px solid v('success-text');
  }
  color: v('success-text');
}

.notYourIpButton {
  background: v('light-gray-background');
  color: v('dark-gray');
  border: 1px solid v('gray-box-stroke');
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  cursor: default;
}

.loadMore {
  margin: rem(24px) auto 0 auto;

  @include media('<=phoneLandscape') {
    margin: rem(16px) auto 0 auto;
  }
}
