.container {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  gap: rem(32px);
  justify-content: start;
  align-items: start;
  width: 100%;
  margin-bottom: rem(24px);

  @include media('<=phoneLandscape') {
    flex-direction: column;
  }
}

.title {
  color: v('dark-black');
  font-family: Inter;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
  white-space: nowrap;
}

.instructionsPrompt {
  padding: rem(16px);
  align-items: center;
  display: flex;
  gap: 8px;
  font-size: 12px;
  line-height: 145%;
  letter-spacing: 0.36px;
  border: 1px solid v('gray-box-stroke');
  border-radius: 8px;
  margin-left: auto;
}

.botVisitsTable {
  margin-top: rem(24px);
  border-radius: 8px;
  border: 1px solid v('gray-box-stroke');
  border-spacing: 0;
  width: 100%;
  min-width: fit-content;

  thead {
    background-color: v('light-gray-background');
  }

  th {
    padding: rem(20px) rem(16px);
    color: v('dark-black');
    font-size: 14px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0.42px;
    text-transform: capitalize;
    text-align: left;
    border: none;
    border-collapse: collapse;
    border-bottom: 1px solid v('gray-box-stroke');
    white-space: nowrap;

    &:first-child {
      border-top-left-radius: rem(8px);
    }

    &:last-child {
      border-top-right-radius: rem(8px);
    }
  }

  tr:nth-child(even) {
    background-color: v('light-gray-background');
  }

  td {
    padding: rem(24px) rem(16px);

    color: v('dark-gray');
    font-size: 14px;
    line-height: 100%; /* 14px */
    letter-spacing: 0.42px;
    text-transform: capitalize;
  }

  button {
    font-size: 14px;
    font-weight: 600;
    line-height: 145%;
    padding: 8px 16px;

    border-radius: 4px;
    border: 0px;
    border: 1px solid transparent;

    display: flex;
    align-items: center;
    gap: 4px;
  }

  .blockIpButton {
    background-color: #fff0ee;

    &:hover {
      cursor: pointer;
      border: 1px solid v('orange-gradient');
    }
    color: v('orange-gradient');
  }

  .unblockIpButton {
    background: v('success-background');

    &:hover {
      cursor: pointer;
      border: 1px solid v('success-text');
    }
    color: v('success-text');
  }

  .notYourIpButton {
    background: v('light-gray-background');
    color: v('dark-gray');
    border: 1px solid v('gray-box-stroke');
  }
}

.loadMore {
  margin: rem(24px) auto 0 auto;
}
