/* Colors */
:root {
  --primary: #ff5d22;
  --text-primary: #212121;
  --text-secondary: #757575;
}

body,
html {
  margin: 0;
  height: 100%;
  font-family: 'Roboto', sans-serif, -apple-system, Arial;
}

.ExternalLayout_wrapper {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
}

.ExternalLayout_main {
  width: 100%;
  padding: 8px 42px;
  padding-top: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 1;
}

.AuthWrapper_authWrapper {
  padding: 0 16px;
  max-width: 533px;
  flex: 1 1;
}

.AuthWrapper_title {
  width: 75%;
  font-weight: 500;
  font-size: 32px;
  color: var(--text-primary);

  @media only screen and (max-width: 600px) {
    background: red;
  }
}

.AuthWrapper_helper {
  margin-bottom: 1rem;
  text-align: left;
  color: var(--text-primary);
  opacity: 0.72;
  font-size: 16px;
}

.AuthWrapper_divider {
  color: var(--text-secondary);
  opacity: 0.5;
}

.AuthWrapper_notes {
  padding-left: 16px;
  font-size: 14px;
  font-weight: 400;
  margin-top: 1rem;
  margin-bottom: 0.75rem;
  text-align: left;
  color: var(--text-secondary);
}

.AuthWrapper_notes li {
  margin-bottom: 12px;
}

.AuthWrapper_alert {
  margin-top: 36px;
}

.AuthWrapper_link {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.ActionWrapper_container, 
.AuthWrapper_container {
  padding: 42px 36px;
  padding-top: 24px;
  margin-top: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  box-shadow: 0 8px 10px rgb(0 0 0 / 5%), 0 16px 24px rgb(0 0 0 / 8%),
    0 6px 30px rgb(0 0 0 / 5%) !important;
}

.AuthForm_container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.Form_container > .Form_button,
.AuthForm_container > .AuthForm_button {
  margin-top: 24px;
}

.UserInputField,
.UsernameInput_label,
.PasswordInput_label {
  margin-bottom: 4px !important;
  font-size: 14px !important;
  color: var(--text-primary);
}

/* Base */

a {
  color: var(--primary);
  text-decoration: none;
}

code {
  font-size: 1rem;
  color: #d63384;
  word-wrap: break-word;
}
