.hero {
    max-width: 600px;
    padding: 1rem;
    margin: 2rem auto;
    margin-bottom: 0;
    margin-top: 2rem;
}

.useCaseGrid {
    display: grid;
    max-width: 1200px;
    margin: 0 auto;
    gap: 2rem;
    padding: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}