/* Flight card */
.container {
  display: grid;
  grid-template-columns: 2fr 5fr 2fr;
  grid-gap: 0.5rem;
}

.origin, .destination {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.origin {
  align-items: flex-start;
}

.destination {
  align-items: flex-end;
}

.date {
  color: gray;
}

.time {
  font-size: 1.2rem;
  font-weight: 600;
  white-space: nowrap;
}


.airportCode {
  color: gray;
}

.city {
  font-weight: 600;
  font-size: 1rem;
  white-space: nowrap;
}

.middle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.duration {
  border-radius: 10px;
  padding: 0px 8px;
  color: var(--primary);
  background-color: #fff3e0;
  border: 1px solid #ffe0b2;
  text-align: center;
  white-space: nowrap;
}

.airline {
  border-radius: 10px;
  padding: 0px 8px;
  color: var(--text-secondary);
  background-color: var(--header-background);
  border: 1px solid #eeeeee;
  opacity: 80%;
}

.transition {
  display: flex;
  align-items: center;
  width: 100%;
}

.line {
  background-color: lightgray;
  height: 2px;
  width: 100%;
  flex-grow: 1;
}

.arrow {
  rotate: 90deg;
  color: gray;
  padding: 5px;
  translate: -2px;
}

.circleContainer {
  display: flex;
}

.circle {
  height: 8px;
  width: 8px;
  color: gray;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 16px;
}

.price {
  font-size: 1.2rem;
  font-weight: 800;
  color: var(--primary);
}

/* Form */
@media only screen and (max-width: 600px) {
  .formArrow {
    rotate: 90deg;
  }
}

.subHeadline {
  font-size: 14px;
  margin: 24px 0px;
  text-transform: uppercase;
  color: gray;
}
