/* Make a 3 column grid  */
.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
  padding: 1rem;
}

.place {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.transition {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
}